<div class="container">
    <div class="text-container">
        <div class="text-supertitle">НЕ НАШЛИ ТО, ЧТО НУЖНО?</div>
        <div class="text-title">
            Приготовим заказ любой сложности по фото или эскизу
        </div>
        <div class="text-subtitle-order-by-photo">
            <span
                >Загрузите фотографию или эскиз капкейков и мы рассчитаем
                стоимость за 30 минут</span
            >
        </div>
        <div class="button">
            <button appButton size="l">Загрузить фотографию</button>
        </div>
    </div>
</div>
