<div class="container">
    <div class="text-container">
        <div class="text-supertitle">КТО БУДЕТ ГОТОВИТЬ?</div>
        <div class="text-title">
            Лично приготовлю и всё красиво упакую для вашего события
        </div>
        <ul class="text-subtitle">
            <li class="subtitle-item">
                Проконсультирую по выбору капкейкови придумаю нестандартную идею
            </li>
            <li class="subtitle-item">
                Приготовлю капкейки для вашего события, которые обязательно всем
                понравятся
            </li>
            <li class="subtitle-item">
                Аккуратно и красиво всё упакую, если вы хотите сделать приятный
                подарок
            </li>
        </ul>
        <div class="button">
            <button appButton size="l">Задать вопрос Юлии</button>
        </div>
    </div>
    <div class="confectioner-photo-container">
        <img class="confectioner-photo" src="/confectioner.svg" alt="" />
        <div class="confectioner-badge-container">
            <div class="confectioner-badge confectioner-badge_black">
                Юлия Кондратьева
            </div>
            <div class="confectioner-badge confectioner-badge_gray">
                ВАШ КОНДИТЕР
            </div>
        </div>
    </div>
</div>
