:host {
    display: block;
    background-image: url(/background-image-reviews.svg);
    background-color: #081130;
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    font-weight: 500;
    color: #ffffff;
}

.review-container {
    display: flex;
}
