<div class="preview-text-supertitle">ВКУСНЕЙШИЕ</div>
<div class="preview-text-title">
    Пирожные и капкейки от 150 ₽/шт. с доставкой по Санкт-Петербургу
</div>
<div class="preview-text-subtitle">
    <span>Приготовим за 3 часа в день заказа.</span>
    <span>Доставка на авто в холодильнике.</span>
</div>
<div class="preview-text-and-button">
    <button appButton size="l">Перейти в каталог</button>
    <div class="preview-text-description">
        9 различных видов&nbsp;на&nbsp;выбор
    </div>
</div>
